/* .btn-formEdit {
    display: none;
} */

@font-face {
    font-family: fonts;
    src: url(./fonts/ofont.ru_Brahms\ Gotisch.ttf);
}

body {
    font-family: fonts;
    letter-spacing: 2px;
    color: white;
    background-image: url(./i/wall.jpg);
    background-size: cover;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: red;
}

textarea {
    resize: none;
}

header {
    padding: 10px 20px;
    font-size: 25px;
}

li {
    list-style-type: none;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-right: 40px;
}

.d-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 60%;
    text-align: center;
}

.containerCard {
    display: flex;
    align-content: center;
}

.info {
    background-color: rgba(210, 105, 30, 0.5);
    border: 4px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 60%;
    text-align: center;
    gap: 5px;
}

.profile {
    display: flex;
    flex-direction: column;

}

.card {
    border: 4px solid white;
    border-radius: 10px;
    background-color: rgba(210, 105, 30, 0.5);
    width: 60%;
    gap: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#containerCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btn {
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    background-color: brown;
    border: 1px solid white;
    border-radius: 4px;
}


.cardForm {
    display: flex;
    background-color: rgba(210, 105, 30, 0.5);
    border: 4px solid white;
    border-radius: 10px;
}

#form {
    border-left: 2px solid white;
    padding-left: 2px;
    padding-right: 2px;
    width: 50%;
}

.textForm {
    width: 50%;
}

.menu {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}


.hidden {
    display: none;
}